* {
  padding: 0;
  margin: 0;
  background: none;
}
#upper-left-pannel {
  height: 52vh;
}
.personal-card {
  max-height: 50vh;
  font-family: sans-serif;
  cursor: pointer;
  transition: 0.8s;
}
.personal-card:hover {
  transform: scale(1.03);
}

#portfolio {
  max-height: 51vh;
  overflow: scroll;
}

/* left-lower */
#skill-card {
  /* height: 35vh; */
  background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 60%);
}
/* #experience {
  height: 35vh;
  border: 1px solid black;
} */
#right-pannel {
  border: 1px solid whitesmoke;
  max-height: 95vh;
}
#upper-right {
  margin-top: 2vh;
  max-height: 35vh;
  overflow: scroll;
}
#lower-right {
  max-height: 45vh;
}
#lower-right-content {
  margin-top: 2vh;
  max-height: 39vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
